/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background: #1e1e1e; /* Cinza escuro */
    color: white;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4e4642;
    padding: 15px 20px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.search-icon i {
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.search-icon i:hover {
    color: #d0e413;
}

/* MENU PERFIL */
.profile-menu {
    position: relative;
    cursor: pointer;
}

.profile-icon {
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* Esconder o menu por padrão */
.dropdown {
    position: absolute;
    top: 40px;
    left: 0;
    background: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Mostrar o dropdown quando o mouse estiver no menu */
.profile-menu:hover .dropdown,
.profile-menu .dropdown:hover {
    opacity: 1;
    visibility: visible;
}



.dropdown a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 0;
    transition: color 0.2s ease-in-out;
}

.dropdown a:hover {
    color: #d0e413;
}

/* HEADER */
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

/* Links do menu */
a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

a:hover {
    color: #000;
}

/* Linha abaixo dos títulos */
hr {
    width: 400px;
    border: 1px solid #d0e413;
    margin: 5px 0;
}

/* Títulos */
h2 {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 10px;
}

/* Seção de postagens */
.div-home-photo {
    margin-top: 60px;
    
}

.section-home {
    padding: 40px 20px;
    max-width: 900px;
    width: 100%;
    background-color: rgb(1, 1, 35);
    margin: 15px auto;
    border-radius: 2%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.45);
    animation: surgir .5s ease-in-out;
}

/* Imagens */
.div-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 5px;
}

.div-images img {
    padding: 5px;
    height: 160px;
    background-color: rgb(217, 207, 207);
    transition: transform 0.3s ease-in-out;
}

.div-images img:hover {
    transform: scale(1.1);
}

/* Setas */
.setas-home {
    max-width: 80px;
    max-height: 80px;
    margin: auto;
}
